.fancy {
  line-height: 0.5;
  text-align: center;
  font-weight: 600;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #ffc7d1;
  top: 0;
  width: 30%;
}
.fancy span:before {
  right: 60%;
  margin-right: 15px;
}
.fancy span:after {
  left: 60%;
  margin-left: 15px;
}
.subInput::placeholder {
  color: white;
  opacity: 1;
  font-size: 17px;
}
.blurImg:hover {
  transform: scale(0.9);
}
.button {
  display: block;
  position: relative;
  border: none;
}
.button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.button:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  animation: button 0.75s infinite;
}
.prodCard:hover {
  animation: rotate 1s linear;
}
@keyframes button {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }

  75% {
    transform: scale(1, 1.1) translate(0px, -25px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
